streamlit>=1.30.0
PyPDF2>=3.0.1
google-generativeai>=0.3.2  # Required for Google Generative AI integration
requests>=2.31.0
google-auth-oauthlib
google-auth
google-api-python-client
time

# Note: The version numbers are set to ensure compatibility with the code.
